<section>
    {{#if loggedIn}}
    <div class="dashboard-container">
        <div class="dashboard-content"> 
            <div class="dashboard-access">
                <div class="top-banner">
                    <a href="/dashboard">
                    <div class="user-circle">
                        {{#if loggedIn}}
                        <p class="user-name">&#128516;</p>
                        {{else}}
                        <p>?</p>
                        {{/if}}
                    </div>
                    </a>
                    <a href="/dashboard/modify/{{id}}"><div class="create-blog">
                        <i class='bx bxs-paper-plane'></i>
                        <p>Create a Blog</p>
                    </div></a>
                </div>
                <div class="dashboard-textarea">
                    <div class="textarea-left">
                        <form class="dashboard-text">
                            <textarea type="text" id="blog-create" rows="5"></textarea>
                            <button>Share Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="dashboard-message">
        <div class="login-message">
            <div class="message-text">
                <p>You must be logged in to view the dashboard.</p></p>
            </div>
            <div class="message-button">
                <a href="/login"><button>LOG IN</button></a>
            </div>
        </div> 
    </div>
    {{/if}}
</section>