<div class="home-blog-card">
    <div class="top-section">
        <div class="blog-title">
            <h2>The Importance of Authentication</h2>
        </div>
        <div class="blog-user-created">
            <p>ArmaniLove23</p>
            <p>5 days ago</p>
        </div>
    </div>
    <div class="middle-section">
        <div class="blog-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, corrupti excepturi veritatis nemo obcaecati officia neque nostrum in et! Excepturi, architecto eius! Hic sed fuga quaerat, praesentium quae illum iure?</p>
        </div>
    </div>
    <div class="bottom-section">
        <div class="blog-comment-count">
            <i class='bx bx-chevron-down' id="arrow-icon"></i>
            <p>View all 21 comments</p>
        </div>
        <div class="blog-comment-icon">
            <i class='bx bxs-comment-detail bx-sm'></i>
        </div>
    </div>
    <div class="comment-section">

    </div>
</div>
<div class="home-blog-card">
    <div class="top-section">
        <div class="blog-title">
            <h2>The Importance of Authentication</h2>
        </div>
        <div class="blog-user-created">
            <p>ArmaniLove23</p>
            <p>5 days ago</p>
        </div>
    </div>
    <div class="middle-section">
        <div class="blog-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, corrupti excepturi veritatis nemo obcaecati officia neque nostrum in et! Excepturi, architecto eius! Hic sed fuga quaerat, praesentium quae illum iure?</p>
        </div>
    </div>
    <div class="bottom-section">
        <div class="blog-comment-count">
            <i class='bx bx-chevron-down' id="arrow-icon"></i>
            <p>View all 21 comments</p>
        </div>
        <div class="blog-comment-icon">
            <i class='bx bxs-comment-detail bx-sm'></i>
        </div>
    </div>
</div>
<div class="home-blog-card">
    <div class="top-section">
        <div class="blog-title">
            <h2>The Importance of Authentication</h2>
        </div>
        <div class="blog-user-created">
            <p>ArmaniLove23</p>
            <p>5 days ago</p>
        </div>
    </div>
    <div class="middle-section">
        <div class="blog-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, corrupti excepturi veritatis nemo obcaecati officia neque nostrum in et! Excepturi, architecto eius! Hic sed fuga quaerat, praesentium quae illum iure?</p>
        </div>
    </div>
    <div class="bottom-section">
        <div class="blog-comment-count">
            <i class='bx bx-chevron-down' id="arrow-icon"></i>
            <p>View all 21 comments</p>
        </div>
        <div class="blog-comment-icon">
            <i class='bx bxs-comment-detail bx-sm'></i>
        </div>
    </div>
</div>

    