<div class="top-banner">
    <a href="/dashboard">
    <div class="user-circle">
        {{#if loggedIn}}
        <p class="user-name">D</p>
        {{else}}
        <p>?</p>
        {{/if}}
    </div>
    </a>
    <div class="create-blog">
        <i class='bx bxs-paper-plane'></i>
        <p>Create a Blog</p>
    </div>
</div>