<section>
    <div class="login-form">
        <div class="login-contents">
            <div class="top-panel">
                <div class="log-image">
                    <img src="/images/Astronomical_symboL.png" alt="site logo">
                </div>
            </div>
            <div class="circle"></div>
            <div class="bottom-panel">
                <form class="log-form login">
                    <div class="form-inserts">
                        <input type="email" id="email-login" placeholder="Email">
                        <input type="password" id="password-login" placeholder="Password">
                    </div>
                    <div class="form-button">
                        <button type="submit">Log In</button>
                    </div>
                </form>
                <div class="user new-user">
                    <p>New User? <a href="/register"><span>Switch to Sign Up!</span></a></p>
                </div>
            </div> 
        </div>
    </div>
</section>