:root {
    --background: #F1E9E9;
    --header: #F5D6D6;
    --blush: #FFEAEA;
    --name-icon: #E8C1C8;
    --text: #2A1B04;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
}

p {
    font-size: 14px;
}

button:hover {
    cursor: pointer;
}